name: Deploy to Cloud Run

on:
  push:
    branches: [main]
    paths:
      - 'nutriflow-service/**'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Google Auth
        uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}
      
      - name: Deploy to Cloud Run
        uses: google-github-actions/deploy-cloudrun@v1
        with:
          service: nutriflow-service
          source: ./nutriflow-service
          region: us-central1
          env_vars: |
            GOOGLE_API_KEY=${{ secrets.GOOGLE_API_KEY }}